<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/add-user}" th:object="${users}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <label for="firstname">Enter first name: </label>
    <input type="text" th:field="*{firstname}" id="firstname">
    <label for="lastname">Enter last name: </label>
    <input type="text" th:field="*{lastname}" id="lastname">
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <input type="checkbox" name="checkBoxRoles" value="ROLE_USER"/>USER
    <input type="checkbox" name="checkBoxRoles" value="ROLE_ADMIN"/>ADMIN
    <input type="submit" value="Add new user">
</form>

</body>
</html>