<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<h1>User list</h1>
<div>
    <table border="1">
        <tr>
            <th>User name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>User page</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:text="${user.username}">firstname</td>
            <td th:text="${user.lastName}">lastname</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.password}">password</td>

            <td><a th:href = "@{/user/{id}(id=${user.getId()})}" th:text="More">id</a></td>
            <td><a th:href = "@{/admin/edit/{id}(id=${user.getId()})}" th:text="Edit">id</a></td>
            <td><form th:method="DELETE" th:action="@{/admin/remove/{id}(id=${user.getId()})}">
                <input type = "submit" value="Delete"/>
            </form>
            </td>
        </tr>
    </table>
</div>

<a href="/admin/adduser">Add new user</a>

</body>
</html>