<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/update/{id}(id = ${users.getId()})}" th:object="${users}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <label for="first name">Enter first name: </label>
    <input type="text" th:field="*{firstname}" id="first name">
    <label for="last name">Enter last name: </label>
    <input type="text" th:field="*{lastname}" id="last name">
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <input type="checkbox" name="checkBoxRoles" value="ROLE_USER"/>USER
    <input type="checkbox" name="checkBoxRoles" value="ROLE_ADMIN"/>ADMIN
    <input type="submit" value="Edit user">
</form>
</body>
</html>