<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Spring Security Login</title>
</head>
<body>

<form method="POST" action="/login">
    <div><label> Username : <input type="text" name="j_username"/> </label></div>
    <div><label> Password: <input type="password" name="j_password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>