<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>User</title>
</head>
<body>
<p>Username</p>
<p th:text="${user.getUsername()}">VALUE</p>
<p>First name</p>
<p th:text="${user.getFirstname()}">VALUE</p>
<p>Last name</p>
<p th:text="${user.getLastname()}">VALUE</p>
<p>e-mail</p>
<p th:text="${user.getEmail()}">VALUE</p>

</form>
<a th:href="@{/logout}">LOGOUT</a>

</body>
</html>