<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>User</title>
</head>
<body>
<p>Username</p>
<p th:text="${user.getUsername()}">VALUE</p>
<p>Last name</p>
<p th:text="${user.getLastName()}">VALUE</p>
<p>e-mail</p>
<p th:text="${user.getId()}">VALUE</p>

<a th:href = "@{/users/edit/{id}(id = ${users.getId()})}">Edit</a>

<form th:method = "DELETE" th:action="@{/admin/remove/{id}(id=${users.getId()})}">
    <input type = "submit" value="Delete">
</form>
</body>
</html>